<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @pantry.item_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @pantry.category %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @pantry.qty %>
</p>

<p>
  <strong>Date of purchase:</strong>
  <%= @pantry.date_of_purchase %>
</p>

<p>
  <strong>Order more:</strong>
  <%= @pantry.order_more %>
</p>

</div>